@import '../../styles/variables';
@import '../../styles/mixin';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(0);
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #111111;
    mix-blend-mode: difference;
    width: $sidebar-width;
    z-index: -1;
    opacity: 0.9;
    @include respond(phone) {
      opacity: 1;
    }
  }
  &.active {
    transform: translateY(0);
  }
  @include respond(phone) {
    transform: translateY(-100%);
    width: 100%;
    justify-content: space-evenly;
    z-index: 2;
    &:before {
      width: 100%;
    }
  }
  &__logoImg {
    width: 6.6rem;
    height: 8rem;
    @include respond(phone) {
      width: 11.6rem;
      height: 18rem;
    }
  }
  &__nav {
    width: 100%;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__li {
    display: block;
    position: relative;
    width: 100%;
    border-bottom: .9rem solid $color-border-lines;
    transition: 0.3s ease-out;
    &:first-child {
      border-top: .9rem solid $color-border-lines;
    }
    a {
      display: inline-block;
      width: 100%;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.5rem;
      padding: 2.5rem 0;
      color: rgba($color-white, 0.6);
      transition: color 0.3s;
      @include respond(phone) {
        font-size: 3rem;
        padding: 3.5rem 0;
      }

      @include respond(small-phone) {
        font-size: 2.5rem;
        padding: 2.5rem 0;
      }
    }
    &:hover {
      background-color: $color-border-lines;
    }
    @include respond(phone) {
      &:hover {
        background-color: inherit;
      }
    }
  }
  &__socialLinks {
    padding: 0 5rem;
  }
  &__socialUl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    @include respond(phone) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
    }
  }
  &__socialLi {
    padding: .5rem .5rem;
  }
}
