.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    margin-top: 2.4rem;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .nav {
      background-color: #000000;
      border-radius: .6rem .6rem 0 0;
      padding: 2.5rem 4.6rem;
      display: flex;
      align-items: center;
      a {
        font-size: 1.8rem;
        line-height: 117.9%;
        letter-spacing: 0.06em;
        color: #FFE742;
        padding: 0 .7rem .3rem;
        border-bottom: .1rem solid #FFE742;
        border-radius: 0rem;
        &:not(:first-child) {
          margin-left: 2.5rem;
        }
      }
    }

    .iframeWrapper {
      position: relative;
      height: 100%;
      flex-grow: 1;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: .3rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
      &::-webkit-scrollbar-thumb {
        background-color: #A472F4;
        border-radius: .5rem;
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: .5rem;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
      }
      img {
        position: absolute;
        display: block;
        width: 100%;
        height: max-content;
        object-fit: contain;
      }
    }
  }
}