@import '../../styles/variables';

.btnContact {
  display: flex;
  align-items: center;
  background: $button-contact_default_loading_gradient;
  padding: 1.7rem 3rem 1.7rem 2.7rem;
  border: none;
  border-radius: .4rem;
  transition: all .5s;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.04em;
  color: $color-black;
  &:focus {
    background: $button-contact_focus_gradient;
    filter: drop-shadow(.1rem .1rem 1rem rgba(102, 153, 255, 0.8)) drop-shadow(-.1rem -.1rem 1rem rgba(102, 153, 255, 0.8));
  }
  &:hover {
    background: $button-contact_hover_gradient;
    filter: none;
  }
  &:active {
    background: $button-contact_pressed_gradient;
    filter: none;
  }

  &__icon {
    margin-left: 2.5rem;
  }
}

.btnResume {
  cursor: pointer;
  padding: 1.7rem 2.6rem;
  background-color: transparent;
  border: .2rem solid rgba(163, 114, 244, 1);
  border-radius: .4rem;
  color: #A372F4;
  transition: all 0.3s;
  &:focus {
    background-color: $button-resume_focus_background;
  }
  &:hover {
    background-color: $button-resume_hover_gradient;
    color: $color-black;
  }
  &:active {
    background-color: $button-resume_pressed_background;
    color: $button-resume_pressed-word-color;
    border-color: $button-resume_pressed_background;
  }
}

.btnMore {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.06em;
  color: $button-resume_hover_gradient;
  border-bottom: .1rem solid $button-resume_hover_gradient;
  padding: 0 1rem;
}