.TooltipWrapper {
  display: inline-block;
  position: relative;
}

.TooltipTip {
  position: absolute;
  border-radius: .4rem;
  left: 50%;
  transform: translateX(-50%);
  padding: .6rem;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  font-size: 1.4rem;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
}

.TooltipTip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

.TooltipTip.top {
  top: calc(var(--tooltip-margin) * -1);
}

.TooltipTip.top::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}

