@import '../../styles/variables';
@import '../../styles/mixin';

.titlePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8rem;
  .hamburger {
    display: none;
    @include respond(phone) {
      display: block;
    }
  }
  .title {
    white-space: nowrap;
    color: rgba($color-title-pages, 0.2);
  }
  .hr {
    height: .2rem;
    width: 100%;
    background-color: rgba($color-title-pages, 0.05);
    border: none;
    margin-left: 5.5rem;
    @include respond(phone) {
      display: none;
    }
  }
}