*, *::after, *::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	cursor: none;
	@include respond(phone) {
		cursor: auto;
	}
}

html {
	font-size: 62.5%;

	&::-webkit-scrollbar {
		width: .3rem;
		background-color: rgba(255, 255, 255, 0.3);
	}
	&::-webkit-scrollbar-thumb {
		background-color: #A472F4;
		border-radius: .5rem;
	}
	&::-webkit-scrollbar-track {
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: .5rem;
		box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	}

	@include respond(screen) {
		font-size: 55%;
	}
	@include respond(tab-land) {
		font-size: 50%;
	}
	@include respond(tab-port) {
		font-size: 45%;
	}
	@include respond(phone) {
		font-size: 40%;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

ol, ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	cursor: none;
}

.container {
	position: relative;
	padding: 0 9rem;
	@include respond(phone) {
		padding: 0 1rem;
	}
}

.app {
	position: relative;
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(74.82deg, #222222 3.08%, #1B1A1A 13.63%, #2C2C2C 78.2%, #2B2B2B 78.2%);
	padding-left: $sidebar-width;
	
	@include respond(phone) {
		padding-left: 0;
	}

	&_active {
		padding-left: 0;
	}
}
