$font_aBlackLives: 'aBlackLives';

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #BCBCBC;
$color-background: linear-gradient(74.82deg, #222222 3.08%, #1B1A1A 13.63%, #2C2C2C 78.2%, #2B2B2B 78.2%);
$color-background-progress-gradient: linear-gradient(90deg, #5620A0 0%, #6C70FB 100%), #5620A0;
$color-background-sidebar: #111111;
$color-border-lines: #1E1D1D;
$color-title-pages: #E1E1FF;

$button-contact_default_loading_gradient: linear-gradient(86.26deg, #8E49FF 1.95%, #6C70FB 109.83%), #A162FB;
$button-contact_focus_gradient: drop-shadow(1px 1px 10px rgba(102, 153, 255, 0.8)) drop-shadow(-1px -1px 10px rgba(102, 153, 255, 0.8));
$button-contact_hover_gradient: linear-gradient(86.81deg, #6C70FB -36.81%, #A472F4 126.22%), #A162FB;
$button-contact_pressed_gradient: #53259F;

$button-resume_default_border-line: rgba(163, 114, 244, 1);
$button-resume_focus_background: rgba(158, 117, 245, 0.17);
$button-resume_hover_gradient: #A472F4;
$button-resume_pressed-word-color: #B4BBFA;
$button-resume_pressed-background: #53259F;

$sidebar-width: 19rem;



